/* ---
Theme Name: Reflex Boilerplate
Theme URI:
Description: A lightweight boilerplate for WordPress themes.
Version: 2.0.2
Author: Naeem Noor
Author URI: http://naeemnur.com
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: two-columns, light
--- */

/* --- CSS Reset [Normalize.css] --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, button, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img, video {
	max-width: 100%;
	height: auto;
}
iframe, object, embed {
	max-width: 100%;
}
[hidden], template {
	display: none;
	visibility: hidden;
}
img {
	-ms-interpolation-mode: bicubic;
}
a:focus, button:focus {
	outline: thin dotted;
	outline: 0.3125em auto -webkit-focus-ring-color;
	outline-offset: -0.15625em;
}
a:hover, a:active {
	outline: 0;
}
/* --- Clear Fix --- */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* --- Viewport Fix --- */
@-webkit-viewport {
width: device-width;
zoom: 1.0;
}
@-moz-viewport {
width: device-width;
zoom: 1.0;
}
@-ms-viewport {
width: device-width;
zoom: 1.0;
}
@-o-viewport {
width: device-width;
zoom: 1.0;
}
@viewport {
width: device-width;
zoom: 1.0;
}
/* --- Typography --- */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #111;
	background: white;
}
p {
	margin-bottom: 1.5625em;
}
a {
	color: #47CAB5;
	text-decoration: none;
	word-wrap: break-word;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}
a img {
	border: none;
	background: none;
}
a:hover img {
	border: none;
	background: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
ul, ol, dl {
	margin-bottom: 1.5625em;
	margin-left: 2em;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
dl {
	margin-left: 0;
}
dt {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 1em;
	padding-top: 1em;
}
h1 {
	font-size: 1.5em;
	padding-top: .5em;
}
h2 {
	font-size: 1.3125em;
}
h3 {
	font-size: 1.1875em;
}
h4, h5, h6 {
	font-size: 0.9375em;
}
hr {
	margin: 2em auto;
	border: 0;
	border-top: 0.0725em solid #e5e5e5;
	border-bottom: 0 solid white;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
sub, sup {
	position: relative;
	font-size: 85%;
	font-weight: bold;
	line-height: 0;
	vertical-align: baseline;
	margin-left: 0.25em;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
::selection {
	color: white;
	background: #0088cc;
}
::-moz-selection {
color: white;
background: #0088cc;
}
blockquote {
	border-left: 0.25em solid #e5e5e5;
	margin-bottom: 1.5625em;
	padding-left: 1.5625em;
	padding-right: 1.5625em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
code, pre {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 0.875em;
	border-radius: 0.0725em;
}
code {
	color: #dd1144;
	background-color: #f7f7f7;
	padding: 0.25em;
}
pre {
	display: block;
	margin-bottom: 1.5625em;
	line-height: 1.5;
	background-color: #f4f4f4;
	padding: 0.8125em;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}
pre code {
	font-size: 1em;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}
.list-unstyled {
	margin-left: 0;
	list-style: none;
}
.text-small {
	font-size: 0.9375em;
}
.text-tall {
	font-size: 1.1875em;
	line-height: 1.4;
}
.text-muted {
	color: gray;
}
/* --- Theme Design --- */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
}
#secondary, #primary {
	width: 100%;
	float: left;
}

@media (min-width: 40em) {
#primary {
	margin-right: -300px;
}
#secondary {
	width: 300px;
}
.primary-inner {
	margin-right: 325px;
}
}
/* --- Navigation Menu --- */
#access {
	background-color: #47CAB5;
}
.nav, .nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav li {
	position: relative;
}
.nav ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.nav > li {
	float: left;
}
.nav li:hover > ul, .nav li.sfHover > ul {
	display: block;
	color: #666;
}
.nav a {
	display: block;
	position: relative;
	/*color: #fff;*/
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1;
}
.nav ul ul {
	top: 0;
	left: 100%;
}
.nav ul {
	min-width: 12em;
	*width: 12em;
}
.nav li {
	white-space: nowrap;*
	white-space: normal;
}
.nav ul li {
	background: #F3F6F8;
}
.nav ul ul li {
	background: #ddd;
}
.nav li:hover,
.nav li a:hover,
.nav li ul li a {
	background: #F3F6F8;
	color: #666;
}
/* --- Search Bar --- */
#s {
	width: 100%;
	padding: 0.1em;
}

#s::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 0.1em;
}
#s::-moz-placeholder { /* Firefox 19+ */
  padding: 0.1em;
}
#s:-ms-input-placeholder { /* IE 10+ */
  padding: 0.1em;
}
#s:-moz-placeholder { /* Firefox 18- */
	padding: 0.1em;
}

#searchsubmit {
	padding: 0.3333em;
	width: auto;
}
/* --- WordPress Styles --- */
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
	max-width: 100%;
	height: auto;
}
.sticky {background: #F3F6F8;padding: 1.5em;}
.gallery-caption {
}
.avatar {
	float: left;
	margin-right: 0.5em;
	height: 3.75em;
	width: 3.75em;
}
.alignleft, .alignright, .aligncenter, .alignnone {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption-text {
	font-size: 0.9375em;
	font-style: italic;
	color: gray;
	padding-top: 0.5em;
	text-align: center;
}
.widgettitle {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    font-weight: bold;
}
/* --- Footer --- */
#colophon {
}

/* --- Grids --- */
@media (min-width: 40em) {
.grid, .unit {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid {
	display: block;
	clear: both;
}
.grid .unit {
	float: left;
	width: 100%;
	padding: 10px;
}
.grid .unit:first-child {
	padding-left: 0;
}
.grid .unit:last-child {
	padding-right: 0;
}
.unit .unit:first-child {
	padding-left: 0;
}
.unit .unit:last-child {
	padding-right: 0;
}
.unit .grid:first-child > .unit {
	padding-top: 0;
}
.unit .grid:last-child > .unit {
	padding-bottom: 0;
}
.wrap .grid, .grid.wrap {
	margin: 0 auto;
}
.grid .whole {
	width: 100%;
}
.grid .half {
	width: 50%;
}
.grid .one-third {
	width: 33.3332%;
}
.grid .two-thirds {
	width: 66.6665%;
}
.grid .one-quarter {
	width: 25%;
}
.grid .three-quarters {
	width: 75%;
}
.grid .one-fifth {
	width: 20%;
}
.grid .two-fifths {
	width: 40%;
}
.grid .three-fifths {
	width: 60%;
}
.grid .four-fifths {
	width: 80%;
}
.no-gutters .unit, .unit.no-gutters {
	padding: 0 !important;
}
}
/* --- Author Info Box --- */
.author-wrap {
	margin: 60px 0 0;
	clear: both;
}
.author-info img.avatar {
	width: 40px;
	height: 40px;
	margin: 2px 0 0 0;
	float: left;
}
.author-info h6 {
	margin: 0;
	padding: 0 0 15px 55px;
}
.author-info .author-description {
	margin: 0;
	padding: 0 0 0 55px;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.65;
}
/* --- Comments Box --- */
article.comment {
	border: 1px solid #ddd;
	display: block;
	position: relative;
	padding: 1em;
	line-height: 24px;
}
#respond input[type="text"], #respond input[type="email"], #respond input[type="url"] {
	display: block;
	width: 60%;
}
#respond textarea {
	display: block;
	margin: 0 0 1em;
	width: 98%;
}
#respond .form-allowed-tags {
	clear: both;
	width: 98%;
}
#respond .form-allowed-tags code {
	display: block;
}
.form-allowed-tags {
	display: none;
}
#reply-title {
	padding-top: 0;
	margin-top: 0;
}
a.comment-reply-link {
	font-size: 12px;
	height: 16px;
	line-height: 16px;
}
li.comment {
	list-style: none outside none;
	margin: 10px 0;
}
li.comment cite {
	font-style: normal;
	font-weight: normal;
}
li.comment img.avatar {
	float: right;
}
.comment-meta, .comment-notes, .logged-in-as {
	display: block;
	font-size: 12px;
}
.comment-meta a, .comment-reply-link {
	text-decoration: none;
}
.comment-meta a:hover, .comment-reply-link:hover {
	text-decoration: underline;
}
ol.commentlist {
	margin: 0;
	padding: 0;
}
.comment-content {
	font-size: 0.9em;
}
.bypostauthor {
	color: inherit;
}
#comments {
	padding-top: 40px;
}
/* --- Tables --- */
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1.5625em;
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	padding: 0.5em;
}
th {
	background-color: #f2f2f2;
	font-weight: bold;
	vertical-align: bottom;
}
td {
	border-top: 0.0725em solid #ededed;
	vertical-align: top;
}
tbody tr:nth-child(even) {
	background-color: #f7f7f7;
}
.table-condensed th, .table-condensed td {
	padding: 0.25em;
}
/* --- Forms --- */
form, fieldset {/* margin-bottom: 1.5625em; */
}
legend, label {
	display: block;
	font-weight: normal;
	padding: 0;
	margin-bottom: 0.3125em;
}
input, textarea, select {
	display: block;
	width: 100%;
	font: inherit;
	line-height: 1.5;
	color: #555555;
	margin-bottom: 1.1875em;
	padding: 0.3125em;
	border: 0.0725em solid #b8b8b8;
	border-radius: 0.0725em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form button, form .button {
	margin-bottom: 1.1875em;
}
textarea {
	height: 12em;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: 0.3125em;
	cursor: pointer;
}
input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 0.0725em 0.0725em rgba(0, 0, 0, 0.075), 0 0 0.5em rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;
}
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
	outline: thin dotted;
	outline: 0.3125em auto -webkit-focus-ring-color;
	outline-offset: -0.125em;
}
.input-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.input-condensed {
	padding: 0.0725em 0.3125em;
	font-size: 0.9375em;
}
/* --- Text Alignment, Spacing & Visibility --- */
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.float-left {
	float: left;
}
.float-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.float-right {
	float: right;
}
.no-space {
	margin: 0;
	padding: 0;
}
.no-space-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}
.no-space-top {
	margin-top: 0;
	padding-top: 0;
}
.space-bottom {
	margin-bottom: 2em;
}
.space-bottom-small {
	margin-bottom: 0.5em;
	padding-bottom: 0;
}
.space-top {
	padding-top: 0.8125em;
}
/* --- Buttons --- */
.btn {
	display: inline-block;
	font-size: 0.9375em;
	padding: 0.5em 0.6875em;
	line-height: 1.2;
	font-weight: normal;
	background-color: #0088cc;
	border: 0.0725em solid #0088cc;
	border-radius: 0.0725em;
	margin-right: 0.3125em;
	margin-bottom: 0.3125em;
}
.btn, .btn:hover, a .btn:hover, .btn.active {
	color: white;
}
.btn:hover, a .btn:hover, .btn.active {
	background-color: #005580;
	border-color: #005580;
	text-decoration: none;
}
.btn-secondary {
	background-color: gray;
	border-color: gray;
}
.btn-secondary:hover, a .btn-secondary:hover, .btn-secondary.active {
	background-color: #5a5a5a;
	border-color: #5a5a5a;
}
.btn:active, .btn.active {
	box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 0.0725em 0.15625em rgba(0, 0, 0, 0.05);
	outline: 0;
}
.btn.disabled, .btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
	box-shadow: none;
}
.btn-large {
	padding: 0.6875em 0.9375em;
	font-size: 1em;
	line-height: normal;
}
.btn-block, input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	display: block;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button, .btn {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
}
.btn:last-child, input.btn {
	margin-right: 0;
}
/* --- Backgrounds --- */
.bg {
	background-color: #f7f7f7;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.bg-secondary {
	color: white;
	background-color: #0088cc;
}
.bg-condensed {
	padding-top: 0.9375em;
	padding-bottom: 0.9375em;
}
/* --- Callout Boxes --- */
.hero {
	background-color: #F3F6F8;
	margin-bottom: 1.5625em;
	padding: 1.5em;
}
.hero-condensed {
	padding: 0.9375em;
}
/* --- Alerts --- */
.alert {
	color: #005580;
	background-color: #cce7f4;
	border: 0.0725em solid #a5d5ed;
	margin-bottom: 1.5625em;
	padding: 0.25em 0.5em;
	border-radius: 0.0725em;
}
.alert-success {
	color: #1f481c;
	background-color: #d7e5d5;
	border-color: #b9d2b6;
}
.alert-danger {
	color: #43070a;
	background-color: #e7ced0;
	border-color: #d5aaac;
}
.alert-warning {
	color: #614a04;
	background-color: #f7edcd;
	border-color: #f2e0a8;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* --- Media Queries --- */
@media (min-width: 40em) {
body {
	line-height: 1.5625;
}
.text-tall {
	font-size: 1.3125em;
}
h1 {
	font-size: 1.75em;
}
#access select {
	display: none;
}
}

@media all and (max-width: 40em) {
.nav {
	display: none;
}
#access {
	background-color: transparent;
}
}

/* --- Print Styles --- */
@media print {
* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
@page {
	margin: 0.5cm;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
a[href^="#"]:after {
	content: "";
}
p, h1, h2, h3 {
	orphans: 3;
	widows: 3;
}
h1, h2, h3 {
	page-break-after: avoid;
}
pre, blockquote {
	border-color: #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
}
