.wp-full-overlay-header{
  background: #18be9c;
}
.customize-controls-close,
.control-panel-back{
  background: #13A587 !important;
  color: #fff;
  border: none;
}
.control-panel-back:before{
  color: #FFF;
}

.wp-core-ui .button-primary{
  border: none;
  background: #FFF;
  color: #18BE9C;
}
.wp-core-ui .button-primary:hover{
  border: none;
  background: #13A587;
  color: #FFF;
}
.wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled]{
  background: #13A587 !important;
  border: none !important;
  color: #ddd !important;
}
#customize-info .accordion-section-title{
 color: #18be9c;
}
#customize-info .accordion-section-title:hover{
  background: #FCFCFC;
  color: #18be9c;
}
#customize-info .theme-name{
  font-weight: 600;
}
.wp-core-ui .media-button{
 background: #18be9c;
 color: #FFF;
}
.wp-core-ui .attachment.details{
  webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #18be9c;
         box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #18be9c;
}
.wp-core-ui .attachment.details .check,
.wp-core-ui .attachment.selected .check:focus,
.wp-core-ui .media-frame.mode-grid .attachment.selected .check{
  background-color: #18be9c;
  -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #18be9c;
          box-shadow: 0 0 0 1px #fff,0 0 0 2px #18be9c;
}
#customize-control-custom_css_general textarea,
#customize-control-custom_css_tablet textarea,
#customize-control-custom_css_wide_phone textarea,
#customize-control-custom_css_phone textarea,
#customize-control-custom_script textarea{
  background: #333;
  color: #f5f5f5;
  height: 200px;
  font-family: courier new;
}
#customize-control-general_google_analytics textarea{
 font-family: courier new;
}

.customize-control{
  margin-bottom: 15px;
}
.wpvita_controls{
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.customize-control input[type=text]{
  width: 100%;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.04);
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.mdl-switch__label, .mdl-radio__label, .mdl-textfield__label{
  font-size: 14px !important;
}
.mdl-textfield__label{top: 12px !important;}
.mdl-textfield{padding: 0 !important;}
.mdl-textfield__label:after{
  bottom: 0px !important;
}
.mdl-button--wpvita{
  background-color: #18be9c !important;
  color: #ffffff !important;
}